.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #2ecc71;
  color: #fff;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

.header-image {
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu > li a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .header-image img {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 1em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #222;
    font-family: 'Work Sans Semibold', 'Work Sans', sans-serif;
    font-weight: 500;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu > li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Work Sans Semibold', 'Work Sans', sans-serif;
    font-weight: 500;
  }
}

.centered-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-family: 'Work Sans Semibold', 'Work Sans', sans-serif;
  font-weight: 600;
}

.Bt {
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px 0px rgba(100, 100, 100, 0.3);
  position: absolute;
  left: 416px;
  top: 89px;
  width: 360px;
  height: 250px;
  z-index: 3;
  font-size: 28px;
  font-family: 'Work Sans Semibold', 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
}

.Bt .paint {
 width: 100px;
 height: 100px;
 position: absolute;
 left: 37%;
 top: 20%;
 margin-right: 50px;
}
